[run]
branch = True
source = src
omit =
    src/domain/*/upstream/*
    src/domain/*/upstream/**
    src/core/backends/*
    src/core/backends/**
    tests/*

[report]
skip_empty = True
show_missing = True
